body {
  background: #e9e9e9;
  color: #5b5f62;
}

.row {
  display: flex;

}
.row Button {
  background: #542f27;
  padding: 0px;
  height: 30px;
  width: 50px;
  display: flex;
  box-shadow: none;
  align-items: center;
  justify-content: center;
  color: #ffffff;

}

/*  gap: 5px;
  margin-bottom: 5px;
    color: #d9ccd2;
*/